.loader-container {
  /* For Loader 1 */
  /* background-color:rgb(38, 62, 70); */
  /* For Loader 2 */
  background-color:rgb(20, 41, 53);
}

.login-container h5 {
  line-height: 1.4;
}

.login-container .input-div input {
  text-align: center;
}